body{
    top: 0px;
}

.display{
    text-align: center;
    align-items: center;
    /* margin-top: 5rem; */
    
    
}

.hydro{
    display: block;
    margin: 2rem auto;
    text-align: center;
    width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
}

.click-btn{
    width: 3rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    width: 10rem;
    padding: 1rem;
    background-color: cornflowerblue;
    border-radius: 5px;
}



.footer-container {
    text-align: center;
    /* padding: 1px; */
    height: 1px;
    background-color:gray;
    color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
    
    
    
}
